.label_input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  color: grey;
  padding: 2px;
  font-size: 12px;
}
.input {
  width: 165px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.iinput {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 10px;
  outline: none;
  border: none;
}
