.back_modal {
  outline: none;
  overflow-y: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  margin: 50px 10px;
  background: white;
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 850px;
  overflow: hidden;
  border-radius: 8px;
}
